{% extends 'base.html.twig' %}

{% block title %} Modifier l'environnement!{% endblock %}

{% block body %}
                <!-- titre -->
                <div class="col-lg-9 col-md-9 col-sm-12">

                    <!-- lien -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="nouv"></h2>
                        <ul class="listContact">
                        {% if project is defined %}
                            <a href="{{ path('projects', {'id' : project.id })}}" class="infoGenerale2">INFORMATIONS GÉNÉRALES</a>&emsp;
                        {% else %}
                            <a href="{{ path('projects')}}" class="infoGenerale2">INFORMATIONS GÉNÉRALES</a>&emsp;
                        {% endif %}
                        {% if environment is defined %}
                            <a href="{{ path('environments', {'id' : environment.id })}}" class="contactLien4">ENVIRONNEMENTS PROJET</a>
                        {% else %}
                        <a href="{{ path('EditEnvironment')}}" class="infoGenerale2">INFORMATIONS GÉNÉRALES</a>&emsp;
                        {% endif %}
                        </ul>
                    </div>

                    <!-- debut carré -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="addContact">
                            {# 
                            <?php

                            /* aucun environnement */
                            if (empty($environments)){
                                echo '<p style="text-align:center; padding-top:50px;">Aucun environnement</p>';
                            }
                            else{
                                
                                echo'<div class="col-lg-12 col-md-12 col-sm-12">';

                                /* affichage des environnements */

                                foreach($environments as $environment){
                                    echo '
                                    <form method="Post">  

                                        <div class="contactAffichage">'                                                

                                            ?>
                                                                                            
                                            <h3 class="nomContact"><?php echo $environment->getName();?></h3>
                                            
                                            <?php echo'  
                                            
                                            <input type="hidden" name="idEnvironnement" value='.$environment->getId().'>

                                            <br><br>
                                            <!-- nom -->
                                            <div class="nom">                                       
                                                <label class="labEnv">Nom &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                                                <input name="name" class="inputEnv0" value="'.$environment->getName().'">
                                            </div>
                                            

                                            <br>
                                            <!-- addresse ip -->
                                            <div class="ip_addresse">
                                                <label class="labEnv" for="ip_address">Adresse IP&emsp;&emsp;&emsp;&emsp;</label>
                                                <input class="inputEnv1" name="ip_address" value="'.$environment->getIp_address().'">
                                            </div>  

                                            <br>
                                            <!-- ssh_username -->
                                            <div class="ssh_username">
                                                <label class="labEnv" for="ssh_username">Nom utilisateur &emsp;&emsp;</label>
                                                <input class="inputEnv2" name="ssh_username" value="'.$environment->getSsh_username().'">
                                            </div>  
                                            
                                            <!-- sauvegarder -->
                                            <div class="group-form">
                                                <button type="submit" name="submit" class="btnOrange"><span class="glyphicon glyphicon-ok"></span> SAUVEGARDER</button>&emsp;                                            
                                            </div>

                                            <div class="form-right">
                                        
                                                <br>

                                                <!-- supprimer -->
                                                <a href="#" data-toggle="modal" data-target="#modal'.$environment->getId().'"class="btnRouge"><span class="glyphicon glyphicon-trash"></span> SUPPRIMER</a>

                                                    <br><br><br>
                                                    <!-- port ssh -->
                                                    <div class="ssh_port">
                                                        <label class="labContact" for="ssh_port">Port SSH</label>
                                                        <input name="ssh_port" class="inputEnv4" value="'.$environment->getSsh_port().'">
                                                        <p class="error">';
                                                        echo $errors['ssh_portError'] ?? '' ; 
                                                        echo'</p>


                                                        <label for="ip_restriction">
                                                        <input name="ip_restriction" type="checkbox"'.(($environment->getIp_restriction() === 1)? 'checked' : "").'
                                                        >&emsp;Restriction IP</label>
                                                    </div>
                                                    
                                                    <br>
                                                    <!-- lien phpmyadmin -->
                                                    <div class="phpmyadmin_link">
                                                        <label class="labContact" for="phpmyadmin_link">Lien PHPMyAdmin &emsp;</label>
                                                        <input class="inputEnv5" name="phpmyadmin_link" value="'.$environment->getPhpmyadmin_link().'">   
                                                    </div>    
                                                

                                                    <br>
                                                    <!-- link -->
                                                    <div class="link">
                                                        <label class="labContact" for="link">Lien&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                                                        <input class="inputEnv6" name="link" value="'.$environment->getLink().'">   
                                                    </div>
                                                    <br>
                                            </div>

                                            <!-- bouton form -->
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <!-- modal suppression -->
                                                <div class="modal fade" id="modal'.$environment->getId().'"> 
                                                    <div class="modal-dialog">
                                                        <div class="modal-content"> 
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">x</button>
                                                                <h5 class="modal-title" style="font-weight: bold;">Suppression d\'un hébergeur</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Voulez-vous vraiment supprimer l\'hébergeur <strong>"'. $environment->getName() .' "</strong> ?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="post">
                                                                    <input type="hidden" name="id_env" value="'.$environment->getId().'">
                                                                    <button type="submit" name="submit_delete" class="btnOrange">Supprimer</button>&emsp;
                                                                </form>
                                                                <button type="button" class="btnBlanc" data-dismiss="modal">Fermer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>'; 
                                }
                            }

                            ?> 
                            #}
                            <!-- ajouter -->
                            <br><br>
                            <a href="{{ path('NewEnvironment')}}" class="btnOrange">+ AJOUTER UN ENVIRONNEMENT</a>
                            <br><br>

                            </form>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}