{% extends 'base.html.twig' %}
{% block title %} Liste des hébergeurs {% endblock %}

{% block body %}
<div class="col-lg-9 col-md-9 col-sm-12">
    <h3 class="nouv">&emsp;Hébergeurs</h3>

    <div class="col-lg-12 col-md-12 col-sm-12">
        
        <div class="fondTableau">

        <div class="table-responsive">

            <table class="table table-bordered" id="tabClient">
                <tr class="trTableau">
                    <th>NOM</th>
                    <th>CODE</th>
                    <th>NOTES</th>
                    <th>MODIFIER</th>
                </tr>
                {% if hosts is defined %}
                    {% for host in hosts %}
                        <tr>
                            <td>{{ host.name }}</td>
                            <td>{{ host.code }}</td>
                            <td>{{ host.notes }}</td>
                            <td>
                                <a class='aTabl' href='{{ path('EditHost', {'id' : host.id })}}'>Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan=4><h2 class='noResult'>Pas d'hébergeur</h2></td></tr>
                {% endif %}
            </table>

        </div>

            <div class="btnAdd2">
                <a href='{{ path('NewHost') }}' class="btnOrange">+ Ajouter</a>&emsp;
            </div>
            <br>
        </div>
    </div>
{% endblock %}